<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <h2>Create new activity</h2>

    <%= form_for(@activity) do |f| %>

    <% if @activity.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@activity.errors.count, "error") %></h2>
        <ul>
          <% @activity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div class="row">
          <div class="large-4 columns">
            <%= f.label :start %>
            <%= f.text_field :start, autocomplete: "off", class: "form-control"  %>
          </div>

          <div class="large-4 columns">
            <%= f.label :destination %>
            <%= f.text_field :destination, autocomplete: "off", class: "form-control"   %>
          </div>

          <div class="actions">
            <%= f.submit "Submit", class: "button primary"  %>
          </div>
      </div>
    <% end %>
  </div>
</div>
